// ==========
// Objects
// ==========

.o-container {
    @include cf;

    @include mappy-bp(large) {
        width: 750px;
    }

    @include mappy-bp(xlarge) {
        width: 970px;
    }

    @include mappy-bp(xxl) {
        width: 1170px;
    }

    @include mappy-bp(xxxl) {
        width: 1380px;
    }

    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    margin-right: auto;
    margin-left: auto;
}

.o-container--fluid {
    @include cf;

    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
}

.o-row {
    @include cf;

    @include mappy-bp(large) {
        margin-left: -0.9375rem;
        margin-right: -0.9375rem;
    }

    [class^="o-col"] {
        margin-bottom: 0.9375rem;
    }
}

.o-col--1 {
    @include mappy-bp(large) {
        @include with-layout($grid-12) {
            @include span(1 of 12);
        }
    }
 
    @include span(12 of 12);
 
    &:last-child {
        @include mappy-bp(large) {
            @include with-layout($grid-12) {
                @include span(1 of 12 last);
            }
        }
    }
}

.o-col--2 {
    @include mappy-bp(large) {
        @include with-layout($grid-12) {
            @include span(2 of 12);
        }
    }
 
    @include span(12 of 12);
 
    &:last-child {
        @include mappy-bp(large) {
            @include with-layout($grid-12) {
                @include span(2 of 12 last);
            }
        }
    }
}

.o-col--3 {
    @include mappy-bp(large) {
        @include with-layout($grid-12) {
            @include span(3 of 12);
        }
    }
 
    @include span(12 of 12);
 
    &:last-child {
        @include mappy-bp(large) {
            @include with-layout($grid-12) {
                @include span(3 of 12 last);
            }
        }
    }

    &:nth-child(4n) {  
        @include mappy-bp(large) {
            @include with-layout($grid-12) {
                @include span(3 of 12 last);
            }
        }  
    }
}

.o-col--4 {
    @include mappy-bp(large) {
        @include with-layout($grid-12) {
            @include span(4 of 12);
        }
    }
 
    @include span(12 of 12);
 
    &:last-child {
        @include mappy-bp(large) {
            @include with-layout($grid-12) {
                @include span(4 of 12 last);
            }
        }
    }
}

.o-col--5 {
    @include mappy-bp(large) {
        @include with-layout($grid-12) {
            @include span(5 of 12);
        }
    }
 
    @include span(12 of 12);
 
    &:last-child {
        @include mappy-bp(large) {
            @include with-layout($grid-12) {
                @include span(5 of 12 last);
            }
        }
    }
}

.o-col--6 {
    @include mappy-bp(large) {
        @include with-layout($grid-12) {
            @include span(6 of 12);
        }
    }
 
    @include span(12 of 12);
 
    &:last-child {
        @include mappy-bp(large) {
            @include with-layout($grid-12) {
                @include span(6 of 12 last);
            }
        }
    }
}

.o-col--7 {
    @include mappy-bp(large) {
        @include with-layout($grid-12) {
            @include span(7 of 12);
        }
    }
 
    @include span(12 of 12);
 
    &:last-child {
        @include mappy-bp(large) {
            @include with-layout($grid-12) {
                @include span(7 of 12 last);
            }
        }
    }
}

.o-col--8 {
    @include mappy-bp(large) {
        @include with-layout($grid-12) {
            @include span(8 of 12);
        }
    }
 
    @include span(12 of 12);
 
    &:last-child {
        @include mappy-bp(large) {
            @include with-layout($grid-12) {
                @include span(8 of 12 last);
            }
        }
    }
}

.o-col--9 {
    @include mappy-bp(large) {
        @include with-layout($grid-12) {
            @include span(9 of 12);
        }
    }
 
    @include span(12 of 12);
 
    &:last-child {
        @include mappy-bp(large) {
            @include with-layout($grid-12) {
                @include span(9 of 12 last);
            }
        }
    }
}

.o-col--10 {
    @include mappy-bp(large) {
        @include with-layout($grid-12) {
            @include span(10 of 12);
        }
    }
 
    @include span(12 of 12);
 
    &:last-child {
        @include mappy-bp(large) {
            @include with-layout($grid-12) {
                @include span(10 of 12 last);
            }
        }
    }
}

.o-col--11 {
    @include mappy-bp(large) {
        @include with-layout($grid-12) {
            @include span(11 of 12);
        }
    }
 
    @include span(12 of 12);
 
    &:last-child {
        @include mappy-bp(large) {
            @include with-layout($grid-12) {
                @include span(11 of 12 last);
            }
        }
    }
}

.o-col--1__sm {
    @include with-layout($grid-12) {
        @include span(1 of 12);
    }
 
    &:last-child {
        @include with-layout($grid-12) {
            @include span(1 of 12 last);
        }
    }
}

.o-col--2__sm {
    @include with-layout($grid-12) {
        @include span(2 of 12);
    }
 
    &:last-child {
        @include with-layout($grid-12) {
            @include span(2 of 12 last);
        }
    }
}

.o-col--3__sm {
    @include with-layout($grid-12) {
        @include span(3 of 12);
    }
 
    &:last-child {
        @include with-layout($grid-12) {
            @include span(3 of 12 last);
        }
    }
}

.o-col--4__sm {
    @include with-layout($grid-12) {
        @include span(4 of 12);
    }
 
    &:last-child {
        @include with-layout($grid-12) {
            @include span(4 of 12 last);
        }
    }
}

.o-col--5__sm {
    @include with-layout($grid-12) {
        @include span(5 of 12);
    }
 
    &:last-child {
        @include with-layout($grid-12) {
            @include span(5 of 12 last);
        }
    }
}

.o-col--6__sm {
    @include with-layout($grid-12) {
        @include span(6 of 12);
    }
 
    &:last-child {
        @include with-layout($grid-12) {
            @include span(6 of 12 last);
        }
    }
}

.o-col--7__sm {
    @include with-layout($grid-12) {
        @include span(7 of 12);
    }
 
    &:last-child {
        @include with-layout($grid-12) {
            @include span(7 of 12 last);
        }
    }
}

.o-col--8__sm {
    @include with-layout($grid-12) {
        @include span(8 of 12);
    }
 
    &:last-child {
        @include with-layout($grid-12) {
            @include span(8 of 12 last);
        }
    }
}

.o-col--9__sm {
    @include with-layout($grid-12) {
        @include span(9 of 12);
    }
 
    &:last-child {
        @include with-layout($grid-12) {
            @include span(9 of 12 last);
        }
    }
}

.o-col--10__sm {
    @include with-layout($grid-12) {
        @include span(10 of 12);
    }
 
    &:last-child {
        @include with-layout($grid-12) {
            @include span(10 of 12 last);
        }
    }
}

.o-col--11__sm {
    @include with-layout($grid-12) {
        @include span(11 of 12);
    }
 
    &:last-child {
        @include with-layout($grid-12) {
            @include span(11 of 12 last);
        }
    }
}

.o-col--12 { 
    @include span(12 of 12);
}

.o-flex {
    display: flex;
    flex-wrap: wrap;
}